@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.mantine-Title-root {
  font-size: 48px;
}

.mantine-Container-root {
  text-align: center;
  font-size: clamp(20px, 18px + 0.5vw, 36px);
  font-family: "Poppins", sans-serif;
  background-color: #e7f3ff;
}

.mantine-Container-root * {
  background-color: #e7f3ff;
  color: #0078e8;
}

.mantine-Accordion-item {
  border: none;
}

.question {
  text-align: center;
  font-size: clamp(25px, 23px + 0.5vw, 48px);
  font-family: "Poppins", sans-serif;
}
