.process {
  padding: 0;
  margin: 0 2.5vw 0 2.5vw;
  width: 90vw;
}

.text {
  color: #0078e8;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  line-height: normal;
  margin: 0;
  padding: 0;
  font-size: 2vw;
  font-weight: 100;
}

.grid {
  padding-left: 0px;
  margin-left: 0px;
}

.title {
  color: #0078e8;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 4vw;
  padding: 0;
}

.text-container {
  margin: 0;
  padding: 0;
}

.img-text-container {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 20vw;
}

.caption-container {
  padding: 0;
  padding-top: 20px;
}

@media (min-width: 1000px) {
  .text {
    font-size: 30px;
  }

  .img-text-container {
    width: 250px;
  }
}
