.application-container{
    display: flex; 
    flex-wrap: wrap; 
    gap: 1rem; 
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.roleCard{
    font-family: 'Poppins', sans-serif;
    width: 460px;
    margin-bottom: 20px;
    font-weight: 500;
    flex-shrink: 0;
}

.roleTitle {
    font-size: 40px;
    line-height: normal;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    line-height: normal;
}

@media (max-width: 768px) {
    .roleTitle {
        font-size: 24px;
    }

    .roleCard {
        width: 90%;
    }
}


.chevron{
    float: right;
}