:root {
  --corner-radius: calc(30px + 10vw);
}

.bottom-section {
  padding: 5% 10% 10% 10%;
  border-radius: var(--corner-radius) var(--corner-radius) 0px 0px;
  background: linear-gradient(180deg, #d1e8ff 0%, #fff 100%);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.impact-facts > * {
  margin: 50px auto;
  flex: 1;
}

.impact-number {
  font-size: calc(50px + 5vw);
  margin: 0;
  line-height: 1;
}

.impact-number-container {
  /* max-width: 300px; */
  min-width: 275px;
}

.grey-blue-text {
  color: #508abf;
}

.about-title {
  color: #0078e8;
}
