.bottom-section {
  padding: 5% 10% 10% 10%;
  border-radius: 250px 250px 0px 0px;
  background: linear-gradient(180deg, #d1e8ff 0%, #fff 100%);
  justify-content: center;
  align-items: center;
  color: #0078e8;
  text-align: center;
}
