.roleCard {
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
  font-weight: 500;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.roleTitle {
  font-size: 40px;
  line-height: normal;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-bottom: 1rem;
}

.buttonWithImage {
  font-weight: normal;
}

@media (max-width: 1100px) {
  .roleTitle {
    font-size: 24px;
    margin-bottom: 0.5rem;
  }

  .roleCard {
    width: 100%;
  }

  .buttonWithImage {
    font-size: 20px;
  }
}

.chevron {
  float: right;
}

.arrow {
  width: 75%;
}
