.alumni {
  border-radius: 0px 0px 300px 300px;
  background-color: #e7f3ff;
  color: #0078e8;
}

.alumni-title {
  font-family: "Poppins", sans-serif;
  padding: 5%;
  font-size: 3vw;
  text-align: center;
}
