.joinUsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px; /* Adjust the gap as needed */
  font-family: "Poppins", sans-serif;
}

.textContainer {
  flex: 1;
  padding-right: 10px; /* This adds some space between the image and the text */
}

/* Additional styling to make sure the image does not stretch */
.imageContainer img {
  width: 692px;
  height: 391px;
  padding-left: 2rem;
}

.whyJoin {
  color: #0078e8;
  text-align: right;
  font-size: 72px;
  font-weight: 600;
  line-height: normal;
}

.interested {
  color: #0078e8;
  text-align: right;
  font-size: 36px;
  font-weight: 500;
  line-height: normal;
}
