.text {
  color: #0078e8;
  font-family: "Poppins", sans-serif;
  font-size: 4vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-left: 4vw;
  padding-top: 4vw;
  margin-bottom: 0;
  margin: 0;
}

.chapters-page-main {
  padding: 4vw 4vw;
}