.nav{
    height: 96px;
    width: 100%;
    background-color: var(--clr-hl1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    top: 0;

    --clr-light: #FFFFFF;
    --clr-hl1: #0078e8;
}

.nav-link{
    text-decoration: underline 1px rgba(255, 255, 255, 0);
    text-underline-offset: 0.2em;
    transition: text-decoration-color .2s, text-underline-offset .2s;
    font-size: 18px;
}

.nav-link:hover{
    text-decoration: underline 1px var(--clr-light);
    text-underline-offset: 0.4em;
}

.nav-logo_tag{
    height: 40px;
    display: flex;
    align-items: center;
}

.nav-menu_container{
    height: 40px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-join-btn{
    --button-radius: 26px;
    --button-height: 52px;
    color: var(--clr-hl1); 
    transition: color .3s ease-in-out, background-color .3s ease-in-out;
    font-size: 18px;

}

.nav-join-btn:hover{
    background-color: var(--clr-light);
    color: var(--clr-hl1);
}
