*{

    /* TODO: will replace this with mantine theme styles once it is set up for the project */

    --clr-light: #FFFFFF;
    --clr-hl1: #006DEC;

}

.nav{
    height: 8%;
    width: 100%;
    background-color: var(--clr-hl1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-logo_container{
    height: 40px;
    display: flex;
    align-items: center;
}

.nav-menu_container{
    height: 40px;
    display: flex;
    align-items: center;
}

.nav-join-btn{
    --button-radius: 20px;
    --button-height: 40px;
}