.whyjoin {
  --clr-hl1: #0078e8;
  padding: 5vh 5vw 5vh 5vw;
}

.whyjoin-text {
  color: var(--clr-hl1);
  text-align: right;
  font-size: 32px;
}

.whyjoin-text > h2 {
  font-size: 72px;
}

@media (max-width: 480px) {
  .whyjoin-text > p {
    text-align: justify;
  }
}
@media (max-width: 780px) {
  .whyjoin-text {
    font-size: 16px;
  }

  .whyjoin-text > h2 {
    font-size: 32px;
  }

  .whyjoin {
    padding: 40px;
  }
}

@media (min-width: 781px) and (max-width: 1280px) {
  .whyjoin-text {
    font-size: 20px;
  }

  .whyjoin-text > h2 {
    font-size: 48px;
  }
}
