.main-footer {
  width: 100%;
  height: 10vw;
  flex-shrink: 0;
  background: #0078e8;
  justify-content: space-evenly;
  position: absolute;
  bottom: 0;
}

.footer-menu {
  padding-top: 2vw;
  align-items: center;
  justify-content: space-between;
  padding-left: 5vw;
  padding-right: 5vw;
}

.footer-text {
  color: #fff;
  font-size: 1.25vw;
  font-weight: 500;
  line-height: normal;
}

.logo {
  width: 20vw;
  height: 4vw;
}

.copyright-text {
  align-items: center;
  text-align: center;
  font-size: 1vw;
  color: #fff;
  padding-top: 0.5vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0px;
}

@media (max-width: 768px) {
  .footer-text {
    font-size: 2.25vw;
  }
}
