.main-footer {
  background: #0078e8;
  margin-top: rem(120px);
  margin-top: rem(120px);
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--mantine-spacing-xl);
  padding-bottom: var(--mantine-spacing-xl);

  @media (max-width: 576px) {
    flex-direction: column;
  }
}

.footer-text {
  @media (max-width: 576px) {
    margin-top: var(--mantine-spacing-md);
  }
}
.copyright-text {
  text-align: center;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  padding: 0;
  margin: 0;
  padding-bottom: 30px;
}

@media (max-width: 768px) {
  .footer-text {
    font-size: 2.25vw;
  }
}
