.whyjoin {
  --clr-hl1: #0078e8;
  padding: 5vh 5vw 5vh 5vw;
}

.whyjoin-text {
  color: var(--clr-hl1);
  text-align: right;
  max-width: 50%;
}

@media (max-width: 780px) {
  .whyjoin-text {
    max-width: 100%;
  }

  .whyjoin {
    padding: 60px;
  }
}
