@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.non-hero {
	height: 90vh;
}

.hero {
	padding-top: 10%;
	height: 105vh;
}

.image-banner {
	background-size: cover;
}

.banner-container {
	background-color: #0078e8;
	border-radius: 0 0 50px 50px;

	color: white;
	font-family: "Poppins", sans-serif;

	--title-fs: 72px;
	--subtitle-fs: 30px;
	--logo-size: 230px;
}

.banner-logo-container {
	width: var(--logo-size);
	height: var(--logo-size);
	position: relative;
}

.banner-title {
	font-size: var(--title-fs);
	text-align: center;
}

.banner-text {
	font-size: var(--subtitle-fs);
	text-align: center;
	max-width: 80vw;
}

.banner-text-container {
	max-width: 70%;
	line-clamp: 2;
	width: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.banner-button {
	--button-radius: 32px;
	--button-border-width: 3px;
}

.banner-flex {
	padding-bottom: 10vh;
}

@media screen and (max-width: 1080px) {
	.banner-container {
		--title-fs: 45px;
		--subtitle-fs: 22px;
	}
}

@media screen and (max-width: 480px) {
	.banner-container {
		--title-fs: 26px;
		--subtitle-fs: 14px;
		--logo-size: 100px;
	}

	.banner-text-container {
		max-width: 100%;
	}
}
