@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.non-hero {
  height: 60vh;
  min-height: 600px;
  display: flex;
  justify-content: center;
}

.hero {
  height: 105vh;
}

.image-banner {
  background-size: cover;
  background-position: center;
}

.banner-container {
  background-color: #0078e8;
  border-radius: 0 0 50px 50px;

  color: white;
  font-family: "Poppins", sans-serif;

  --title-fs: 72px;
  --subtitle-fs: 30px;
  --logo-size: 200px;
}

.banner-logo-container {
  width: var(--logo-size);
  height: var(--logo-size);
  position: relative;
}

.banner-title {
  font-size: var(--title-fs);
  text-align: center;
}

.banner-text {
  font-size: var(--subtitle-fs);
  text-align: center;
  max-width: 70vw;
}

.banner-text-container {
  max-width: 55%;
  line-clamp: 2;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner-button {
  margin-top: 40px;
  --button-radius: 32px;
  --button-border-width: 3px;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.4));
}

/* .banner-flex {
  padding-bottom: 10vh;
} */

.banner-button-label {
  font-size: 20px;
}

@media screen and (max-width: 1080px) {
  .banner-container {
    --title-fs: 45px;
    --subtitle-fs: 22px;
  }

  .banner-text-container {
    max-width: 65%;
  }
}

@media screen and (max-width: 720px) {
  .banner-text-container {
    max-width: 95%;
  }

  .banner-flex {
    padding-top: 10vh;
  }

  .banner-button-label {
    font-size: 15px;
  }
}

@media screen and (max-width: 480px) {
  .banner-container {
    --title-fs: 32px;
    --subtitle-fs: 16px;
    --logo-size: 100px;
  }
}
