@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.mantine-SimpleGrid-root {
  align-items: start;
}

.mantine-Title-root {
  font-size: 400px !important;
  font-family: "Poppins", sans-serif !important;
  text-align: center;
  padding-bottom: 30px;
}
