.mantine-Card-root {
    flex-shrink: 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.mantine-Card-section {
    margin: 0;
}

/* .mantine-Anchor-root {
    font-size: 24px;
    font-weight: 500;
} */

.card-font{
    font-size: 24px;
    font-weight: 500;
}

.chapter-name {
    font-size: 36px;
    font-weight: 700;
}

.chapter-description {
    font-size: 24px;
    font-weight: 400;
}
