.mantine-Card-root {
    flex-shrink: 0;
    box-shadow: 0vw 0.5vw 0.5vw 0vw rgba(0, 0, 0, 0.25);
    border-radius: 2vw;
}

.mantine-Card-section {
    margin: 0;
}


.card-font{
    font-size: 1.5vw;
    font-weight: 500;
}

.chapter-name {
    font-size: 2.4vw;
    font-weight: 700;
}

.chapter-description {
    font-size: 1.8vw;
    font-weight: 400;
}
