.mantine-Card-root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: '100%';
  box-shadow: 0vw 0.5vw 0.5vw 0vw rgba(0, 0, 0, 0.25);
  border-radius: 2vw;
}

.link-container {
  padding-top: 1vw;
  padding-bottom: 0.5vw;
}

@media (max-width: 768px) {
  .mantine-Card-root {
    --card-padding: var(--mantine-spacing-xs);
  }
}

.mantine-Card-section {
  margin: 0;
}

.card-font {
  font-size: max(10px, 1.5vw);
  font-weight: 500;
}

.chapter-name {
  font-size: max(15px, 2vw);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.chapter-description {
  font-size: max(10px, 1.2vw);
  font-weight: 400;
}
